In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("spam.tsv",sep="\t")

In [3]:
df.head()

  label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!

In [4]:
df.isnull().sum()

label    0
Text     0
dtype: int64

In [5]:
len(df)

5567

In [6]:
df['label'].value_counts()

ham     4821
spam     746
Name: label, dtype: int64

In [7]:
ham=df[df['label']=='ham']

In [8]:
ham.tail()

     label                                               Text
5560   ham                                       Huh y lei...
5563   ham               Will ü b going to esplanade fr home?
5564   ham  Pity, * was in mood for that. So...any other s...
5565   ham  The guy did some bitching but I acted like i'd...
5566   ham                         Rofl. Its true to its name

In [9]:
spam=df[df['label']=='spam']

In [10]:
spam.head()

   label                                               Text
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
6   spam  WINNER!! As a valued network customer you have...
7   spam  Had your mobile 11 months or more? U R entitle...
9   spam  SIX chances to win CASH! From 100 to 20,000 po...
10  spam  URGENT! You have won a 1 week FREE membership ...

In [11]:
spam['label'].value_counts()

spam    746
Name: label, dtype: int64

In [12]:
ham['label'].value_counts()

ham    4821
Name: label, dtype: int64

In [13]:
ham=ham.sample(spam.shape[0])

In [14]:
data=ham.append(spam,ignore_index=True)

In [15]:
data.tail()

     label                                               Text
1487  spam  Want explicit SEX in 30 secs? Ring 02073162414...
1488  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
1489  spam  Had your contract mobile 11 Mnths? Latest Moto...
1490  spam  REMINDER FROM O2: To get 2.50 pounds free call...
1491  spam  This is the 2nd time we have tried 2 contact u...

In [16]:
ham.shape

(746, 2)

In [17]:
spam.shape

(746, 2)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
(X_train,X_test,y_train,y_test)=train_test_split(data['Text'],data['label'],test_size=0.3,random_state=0, shuffle = True, stratify=data['label'])

In [20]:
X_train

800     Thanks for your Ringtone Order, Reference T91....
932     FREE entry into our £250 weekly comp just send...
1410    Great News! Call FREEFONE 08006344447 to claim...
1243    YES! The only place in town to meet exciting a...
970     As a Registered Subscriber yr draw 4 a £100 gi...
                              ...
1458    URGENT! You have won a 1 week FREE membership ...
742        K...k:)why cant you come here and search job:)
109        I've got  &lt;#&gt; , any way I could pick up?
529     Then cant get da laptop? My matric card wif ü ...
798     Update_Now - Xmas Offer! Latest Motorola, Sony...
Name: Text, Length: 1044, dtype: object

In [45]:
y_train

800     spam
932     spam
1410    spam
1243    spam
970     spam
        ...
1458    spam
742      ham
109      ham
529      ham
798     spam
Name: label, Length: 1044, dtype: object

In [47]:
model = Pipeline([('tfidf', TfidfVectorizer()), ('clf', RandomForestClassifier(n_estimators=10, n_jobs=-1))])
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[220,   4],
       [ 29, 195]], dtype=int64)

In [48]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.88      0.98      0.93       224
        spam       0.98      0.87      0.92       224

    accuracy                           0.93       448
   macro avg       0.93      0.93      0.93       448
weighted avg       0.93      0.93      0.93       448

In [49]:
accuracy_score(y_test, y_pred)

0.9263392857142857

In [57]:
model.predict(["Hi, How are you"])

array(['ham'], dtype=object)

In [58]:
model.predict(["congratulations"])

array(['ham'], dtype=object)

In [59]:
model.predict(["Congrats ,you won 10 crore price . Provide Bank detials for Win Cool prize"])

array(['spam'], dtype=object)

In [60]:
import joblib

In [62]:
filename='final_mode.sav'
joblib.dump(model,filename)

['final_mode.sav']