In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("spam.tsv",sep="\t")

In [3]:
df.head()

  label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!

In [4]:
df.isnull().sum()

label    0
Text     0
dtype: int64

In [5]:
len(df)

5567

In [6]:
df['label'].value_counts()

ham     4821
spam     746
Name: label, dtype: int64

In [7]:
ham=df[df['label']=='ham']

In [9]:
ham.tail()

     label                                               Text
5560   ham                                       Huh y lei...
5563   ham               Will ü b going to esplanade fr home?
5564   ham  Pity, * was in mood for that. So...any other s...
5565   ham  The guy did some bitching but I acted like i'd...
5566   ham                         Rofl. Its true to its name